{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "trailingComma": "all",
    "bracketSpacing": false,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 70,
                "useTabs": false,
                "trailingComma": "none",
                "proseWrap": "never"
            }
        },
        {
            "files": "*.{htm,html}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
